<div class='header'>
<div class="container">
  <nav id='navbar'>
    <img src="{{ section.settings.header-logo | img_url: "100x100" }}" alt="{{ section.settings.header-logo-alt }}" class='logo'>
    <ul id='menu'>
      {% for link in linklists.main-menu.links %}
      <!-- menu content -->
      {% endfor %}
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li class='catalog-menu'><a href="#">CATALOG</a>
        <div class='sub-menu-1'>
          <ul>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
          </ul>
        </div>
    </li>
      <li><a href="#">TERMS</a></li>
    </ul>
    <svg class='cart-icon' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
</svg>
  </nav>
</div>
</div>
<style>

.header{
  width: 100%;
  display: flex;
  position: relative;
}

.container{
  display: flex;
  width: 100%;
  position:relative;

}
nav{
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  padding: {{ section.settings.nav-padding }}px 0;
  background-color: {{section.settings.nav-background-color}};
  z-index: 1;

}

.logo{
  width: 120px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cart-icon{
  width: 30px;
  color: {{section.settings.cart-color}};
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right:30px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  position:relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 50%;
}

.text{
  padding: 20px 8%;
}

nav.sticky{
position: fixed;
top: 0;
left: 0;
padding: 10px 4%;
background: black;
display: flex;
align-items: center;
justify-content: space-between;
transition: padding 1s;
}

.sub-menu-1{
  display: none;
}

nav ul .catalog-menu:hover .sub-menu-1{
  display:block;
  position: absolute;
  background: dimgray;
  margin-left: -100px;
  margin-right: 300px;
}
nav ul .catalog-menu:hover .sub-menu-1 ul{
  display: block;
}
nav ul .catalog-menu:hover .sub-menu-1 ul li{
  padding: 10px;
  border-bottom: 1px solid white;
  background: transparent;
  border-radius:0;
  text-align: left;
}

nav ul .catalog-menu:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
</style>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "range",
        "id": "nav-padding",
        "default": 0,
        "label": "Navigation Padding",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px"       
      },
      {
        "type": "image_picker",
        "id": "header-logo",
        "label": "Logo"
      },
      {
        "type": "color",
        "id": "nav-background-color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "cart-color",
        "label": "Cart Color",
        "default": "#ffffff"
      }
    ],
    "presets": [{
      "name": "Custom Header"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
const navbar = document.querySelector("#navbar")
const menu = document.querySelector("#menu")

window.onscroll = function(){
  if(window.pageYOffset >= menu.offsetTop){
    navbar.classList.add("sticky")
  }
  else{
    navbar.classList.remove("sticky")
  }
}
{% endjavascript %}