<div class='custom-announcement-bar'>
<a href="https://www.google.com" class='custom-announcement-bar__link'>
  <p class='custom-announcement-bar__message'>{{ section.settings.announcement_bar_text }}</p>
</a>
  
</div>

<style>
  .custom-announcement-bar{
    text-align: center;
    margin-bottom: 1000px;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .custom-announcement-bar .custom-announcement-bar__message{
    {% if section.settings.bold-text %}
      font-weight: bold;
    {% endif %}
    font-size: {{ section.settings.font-size }}px; 
    background-color: {{section.settings.background-color}};
    padding: {{section.settings.height}}px 0px;
    margin: 0px;
  }

  .custom-announcement-bar>a{
    color: {{section.settings.text-color}};
    text-decoration: none;
  }
</style>

{% schema %}
  {
    "name": "Custom Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement_bar_text",
        "default": "This is a default announcement",
        "label": "Announcement Text"
      },
      {
       "type": "checkbox",
        "id": "bold-text",
        "label": "Bold Text"
      },
      {
        "type": "range",
        "id": "font-size",
        "default": 14,
        "label": "Font size",
        "min": 12,
        "max": 20,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "height",
        "default": 0,
        "label": "Height",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px"
        
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}