<link rel="stylesheet" href="{{ 'image-comparison.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="image-comparison">
  <div class="images-container">
    <img class='before-image' src="{{ section.settings.image_first | img_url: '900x900'}}" alt="{{ section.settings.alt-text-1 }}">
    <img class='after-image' src="{{ section.settings.image_second | img_url: '900x900'}}" alt="{{ section.settings.alt-text-2 }}">

  <div class="slider-line"></div>
    <div class="slider-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
      </svg>
    </div>
    <input type="range" class='slider' min='0' max='100'>
    </div>
</div>
<style>
    .image-comparison{
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-color: {{section.settings.image-comparison-bg}};
  
}

.image-comparison img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container{
  position:relative;
  display:flex;
}


.image-comparison .images-container .before-image{
  position:absolute;
  top:0;
  width: 50%;
}
  .image-comparison .slider{
  position: absolute;
  inset: 0;
  opacity: 0;
  }
.image-comparison .slider-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  width: {{ section.settings.slider-arrows }}px;
  height: {{ section.settings.slider-arrows }}px;
  color: {{section.settings.arrow-color}};
  background-color: {{section.settings.arrow-bg}};
  transform: translate(-50%, -50%) rotateZ(90deg);
  border-radius: 50px;
}
</style>
{% schema %}
  {
    "name": "Image Comparison",
    "settings": [
      {
        "type": "color",
        "id": "image-comparison-bg",
        "label": "Background Color"
      },
      {
        "type": "range",
        "id": "slider-arrows",
        "label": "Slider Scale",
        "default": 60,
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "arrow-color",
        "label": "Arrow Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "arrow-bg",
        "label": "Arrow Background",
        "default": "#ffffff"
      },
      {
        "type": "image_picker",
        "id": "image_first",
        "label": "First Image"
      },
      {
        "type": "image_picker",
        "id": "image_second",
        "label": "Second Image"
      },
      {
        "type": "text",
        "id": "alt-text-1",
        "label": "Alt Text for First Image"
      },
      {
        "type": "text",
        "id": "alt-text-2",
        "label": "Alt Text for Second Image"
      }
      
    ], "presets": [{
      "name": "Image Comparison",
      "category": "Image"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const slider = document.querySelector(".image-comparison .slider")
const beforeImage = document.querySelector(".image-comparison .before-image")
const sliderLine = document.querySelector(".image-comparison .slider-line")
const sliderIcon = document.querySelector(".image-comparison .slider-icon")

slider.addEventListener("input", (e) => {
  let sliderValue = e.target.value + "%"

  beforeImage.style.width = sliderValue
  sliderLine.style.left = sliderValue
  sliderIcon.style.left = sliderValue
})

{% endjavascript %}